
.project_item {
    max-width: 380px;
}

.project_item img {
    width: 380px;
    height: 190px;
    transition: .3s;
}

.image_wrapper {
    overflow: hidden;
}

.project_item img:hover {
    transform: scale(1.1);
}

.project_item h3 {
    font-size: 24px;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 10px;
}

.project_item h3::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e7af03;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: .6s;
}

.project_item h3:hover::before {
    transform: scaleX(1);
}

.project_item p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(93, 93, 93);
    letter-spacing: 1px;
    width: 90%;
}

.project_item_secondary_info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.project_info {
    display: flex;
    flex-direction: column;
    max-height: 198px;
    height: 100%;
}

.project_description {
    flex: 1 1 auto;
}