.navigation ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 24px;
}

.navigation ul li a {
    color: white;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(
        to right,
        #e7af03,
        #e7af03 50%,
        white 50%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: all 0.3s ease-in-out;
}


.navigation ul li a:hover {
    background-position: 0%;
}