.footer {
    background-color: #252a34;
    padding: 10px 0px;
    color: white;
    margin-top: 0px;
}

.footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}